<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do </title>
    <link rel="stylesheet" href="/css/index.css">

</head>

<body>

    <div class="design">
        <h1>Add Task Below</h1>
        <div class="content">
            <form action="/add-todo" method="POST">
                <input type="text" placeholder="Type your task .... " name="task" required>
                <!-- <label for="priority">Set Task priority</label> -->
                <select name="priority" id="priority">
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low" selected>Low</option>
                </select>
                <input type="date" name="dueDate" id="dueDate">
                <button type="submit">Add Task </button>
            </form>
        </div>
    </div>
    <div class="savedTask">
        <table>
            <tr class="taskHead">
                <th>Task</th>
                <th>Priority</th>
                <th>Due Date</th>
            </tr>
        </table>

    </div>
    <script src="/js/index.js"></script>
</body>

</html>