<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do </title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/40778f2b78.js" crossorigin="anonymous"></script>

</head>

<body>

    <div class="design">
        <h1>Add Task Below</h1>
        <div class="content">
            <form action="/add-todo" method="POST">
                <input type="text" placeholder="Type your task .... " name="task" required>
                <!-- <label for="priority">Set Task priority</label> -->
                <select name="priority" id="priority">
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low" selected>Low</option>
                </select>
                <input type="date" name="dueDate" id="dueDate">
                <button type="submit">Add Task </button>
            </form>
        </div>
    </div>
    <div class="savedTask">
    <table>
        <thead>
            <tr>
                <th>Task</th>
                <th>Priority</th>
                <th>Due Date</th>
                <th>Action</th>
            </tr>
        <tbody> 
          if todos && todos.length > 0
            each item in todos
              tr
                td= item.task
                td= item.priority
                td= item.dueDate ? item.dueDate.toDateString() : '.'
                td
                  form(action=`/delete-todo/${item._id}` method="POST")
                   button(type="submit")
                    //- i.fa-solid.fa-pen-to-square.delete
                    i.fa-solid.fa-trash.delete
          else
            tr
              td(colspan="4" style="text-align:center") No tasks saved yet.              
    </div>
    <script src="/js/index.js"></script>
</body>

</html>