* {
    margin: 0px;
    padding: 0px;
    font-family: "Sekuya", system-ui;

}

::selection {
    color: white;
    background-color: black;
}

.design {
    background-color: tomato;
    height: 156px;
    width: 600px;
    margin: auto;
    margin-top: 41px;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.content {
    margin-top: 10px;

}

.content input[name="task"] {
    width: 253px;
    height: 27px;
    padding: 4px;
    border: none;
    outline: none;
    border-radius: 6px;
    color: tomato;
    font-weight: bold;

}

.content input[name="task"]::placeholder {
    color: tomato;
}

.content select[name="priority"] {
    height: 35px;
    padding: 4px;
    border: none;
    outline: none;
    border-radius: 6px;
    color: tomato;
    font-weight: bold;
}

.content input[name="dueDate"] {
    height: 27px;
    padding: 4px;
    border: none;
    outline: none;
    border-radius: 6px;
    color: tomato;
    font-weight: bold;
}

.content button {
    height: 36px;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: bold;
}

.savedTask {
    width: 640px;
    margin: auto;

}

table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}

th,td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: tomato;
}

.delete {
    transition: transform 0.3s ease-in-out;
}

.delete:hover {
    color: tomato;
    cursor: pointer;
    transform: scale(1.07);

}
.savedTask button{
    border: none;
    background-color: white;
}